.footer
    padding-top: 90px
    background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
    &__section
        &--dark
            margin-bottom: 0
    &__wrap
        max-width: 63.07rem
        margin: auto
        margin-top: -22.3rem
        margin-bottom: 3.714rem
        padding: 2.5rem
        background-color: $black
    &__title
        margin-top: 0
        margin-bottom: 3.214rem
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        font-weight: 400
        font-size: 1.428rem
        text-align: center
    &__form
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        max-width: 37.142rem
        margin: auto
    &__input
        padding-top: 0.3rem
        &-group
            display: flex
            flex-direction: column
            flex-basis: 45%
            margin-bottom: 3.2rem
            &--full-width
                flex-basis: 100%
                margin-bottom: 2rem
    &__policy
        flex-basis: 100%
        margin-bottom: 3.6rem
    &__button
        margin: auto
        padding: 1.286rem 4.786rem
    &__menu
        background-color: $dark
        padding: 4.286rem 0
