@media screen and ( max-width: 1270px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
    .card
        &__text
            margin: 0
            margin-top: -9.3rem
            margin-bottom: 90px


@media screen and ( max-width: 1067px )
    .card
        &__title
            font-size: 1.1rem
     

@media screen and ( max-width: 997px )
    .nav 
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .card
        &__title
            font-size: 1rem
    .swiper
        &-slide
            &__heading
                font-size: 1rem
    
     

@media screen and ( max-width: 900px )
    .row
        flex-direction: column
        align-items: center
        &__projects
            align-items: center
            flex-direction: row
            justify-content: space-between
    .types
        &__card
            margin-bottom: 5rem
    .section-title
        &__heading
            &--primary
                margin-top: 0
    .projects
        padding-bottom: 23.2rem
    .swiper
        &-slide
            &__heading
                font-size: 0.9rem
    .control
        &__section-title
            margin-top: -23.2rem
        &__video
            max-width: 42.2rem
            min-height: 22.4rem
            background-size: contain

@media screen and ( max-width: 665px )
    .container
        &__projects
            padding-top: 0
            padding-bottom: 90px
    .section-title
        &__heading
            &--primary
                margin-top: 0
        &__word
            &::after
                display: none
    .row
        &__projects
            flex-direction: column
    .col
        &-50
            width: 100%
    .projects
        padding-bottom: 21.2rem
    .swiper
        &-container
            margin-left: 0
        &-slide
            &__text
                flex-basis: 50%
    .swiper
        &-slide
            &__heading
                font-size: 1.285rem
    .control
        &__section-title
            margin-top: -21.2rem
        &__video
            max-width: 34.8rem
            min-height: 18.5rem
            background-size: contain
    #controlPolicyCheckbox-error
        position: absolute
        right: 30%
        bottom: -16px

@media screen and ( max-width: 576px )
    .container
        &__projects
            padding-bottom: 0px
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .types
        padding-bottom: 30rem
    .design-project
        background-color: $dark
        padding-top: 11rem
        margin-top: -40rem
        &__section-title
            color: $light
    .projects
        padding-bottom: 76.4rem
    .control
        &__section-title
            margin-top: -76.4rem
        &__video
            max-width: 28.2rem
            min-height: 15rem
            background-size: contain
        &__text
            color: $light
        &__form
            display: flex
            flex-direction: column
        &__label
            margin-bottom: 0.3rem
            color: rgba(255, 255, 255, 0.5)
        &__input
            color: $light
            &::placeholder
                color: $light
            &-group
                &--name
                    margin-bottom: 63px
                &--tel
                    margin-bottom: 26.5px
        &__policy
            align-self: flex-start
            margin-bottom: 62px
            &-label
                color: $light
        &__button
            order: 1
            margin-bottom: 58px
    .footer
        padding-top: 0
        margin-bottom: 0
        background: none
        background-color: $dark
        &__wrap
            background-color: $dark
            margin-top: -27.3rem
            margin-bottom: 0
            padding-top: 9rem
        &__form
            display: flex
            flex-direction: column
        &__button
            margin: 0
        &__menu
            display: none
    .footer
        &__wrap
            padding-right: 0
            padding-left: 0
    .policy
        &__label
            &--center
                justify-content: flex-start
    #controlPolicyCheckbox-error
        position: absolute
        left: 0
        right: 0
        bottom: -18px
    #footerPolicyCheckbox-error
        position: absolute
        left: 0
        bottom: -21px
    

@media screen and ( max-width: 524px )
    .projects
        padding-bottom: 78.9rem
    .control
        &__section-title
            margin-top: -78.9rem
@media screen and ( max-width: 427px )
    .projects
        padding-bottom: 81.3rem
    .control
        &__section-title
            margin-top: -81.3rem
    #controlPolicyCheckbox-error
        position: absolute
        right: 23px
        bottom: -16px
    
            
@media screen and ( max-width: 406px )
    .swiper
        &-slide
            &__heading
                font-size: 1rem
    .projects
        padding-bottom: 78.3rem
    .control
        &__section-title
            margin-top: -78.3rem
        &__video
            max-width: 22.3rem
            min-height: 11.8rem
            background-size: contain
        
@media screen and ( max-width: 380px )
    .projects
        padding-bottom: 78.5rem
    .control
        &__section-title
            margin-top: -78.5rem
    #controlPolicyCheckbox-error
        position: absolute
        right: 23px
        bottom: -16px
    
    
@media screen and ( max-width: 371px )
    .projects
        padding-bottom: 80.5rem
    .control
        &__section-title
            margin-top: -80.5rem

@media screen and ( max-width: 344px )
    .projects
        padding-bottom: 83rem
    .control
        &__section-title
            margin-top: -83rem

@media screen and ( max-width: 320px )
    .projects
        padding-bottom: 81.9rem
    .swiper
        &-slide
            &__heading
                font-size: 0.7rem
    .control
        &__section-title
            margin-top: -81.9rem
        &__video
            max-width: 20rem
            min-height: 10.6rem
            background-size: contain
    #controlPolicyCheckbox-error
        position: absolute
        right: 23px
        bottom: -16px
        
        
    
    
        

@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none




    

